<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">

            <form action="/">
                <h2>C'est quoi, ton nom ? </h2>
                <input type="text" id="requester" name="requester" />
                <br /><br />
                <input type="submit" value="Allez, on y va, j'ai soif !!!" class="btn btn-default" />
            </form>
        </div>
    </div>
</div>