<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Chez Govic</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Toutes les boissons </a></li>
        <li><a href="/cat/cocktail">Nos Cocktails </a></li>
        <li><a href="/cat/smoothie">Nos Smoothies </a></li>
        <li><a href="/cat/virgin">Nos Sans Alcool </a></li>
        <li><a href="/orders" class="btn btn-default visible-xs visible-sm">Liste d'attente</a></li>
        <li><a href="/orders" class="btn btn-default hidden-xs hidden-sm" id="liste_button">Liste d'attente</a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>
