/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.alert-success {
    color: #d6e9c6 !important;
    background-color: transparent !important;
    border-color: #d6e9c6 !important;
}

.cocktail_name {
	padding-top: 15px;

}
.cocktail_description {
}

h1 {
    color: gold !important;
}

h2 {
    color: coral !important;
}

.edit_cocktail input, .edit_cocktail textarea, .new_cocktail input, .new_cocktail textarea {
}

body { 
    padding-top: 65px; 
    background-color: #222 !important;
    /*color: #9d9d9d !important;*/
    color: #FFF !important;
    font-family: 'Permanent Marker', cursive !important;
	background: url(/assets/bg.jpg);
}

input, textarea, input, textarea {
    color: black !important;
}

#liste_button {
	height: 5px;
    margin-top: 10px;
    line-height: 2px;
    color: black !important;
}

.oneplease {
	width: 70%;
	color: white !important;
}

.attente {
    padding-bottom: 10px;
}

.attente s {
	color: dimgray;
}

.navbar-inverse {
    background: transparent !important;
}

.navbar-inverse .navbar-brand {
    color: white !important;
}


.navbar-inverse .navbar-nav>li>a {
    color: burlywood !important;
}